
  <div class="container mt-3">
    <div class="row">
      <div class="col-12">
        <h1>All our Beasts</h1>
        <h2>Welcome <%= current_user.name %></h2>
        <p>Below you will see all beasts on offer</p>
      </div>
    </div>



  <! make a grid for the cards>
<div class="container py-5">

<div class="d-flex align-items-center justify-content-between mb-3">


   <div class="row">
    <% @creatures.each do |creature| %>
    <div class="card mb-4 shadow-sm">
        <div class="co-12 col-sm-6 col-md-4 mb-3">
        <ul>
            <%= cl_image_tag creature.photo.key, height: 300, width: 400, crop: :fill, class: "rounded-circle" %>
            <li>Name: <%= creature.name %></li>
            <li>Category: <%= creature.category %></li>
            <li>Breed: <%= creature.breed %></li>
            <li>Owner: <%= @users.find(creature.user_id).name %></li>
        </ul>
            <%= link_to "Show Creature", creature_path(creature), class: "nav-link" %>
        </div>
    </div>
    <%end%>

  </div>

</div>
