  <div class="container mt-3">
    <div class="row justify-content-left">
      <div class="col-12">
        <h1>All our beasts</h1>
        <h2>Welcome <%= current_user.name %>!</h2>
        <p>Search directly for a certain beast or browse below!</p>
      </div>
    <div class="col-sm-5">
      <%= form_tag creatures_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a creature"
        %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

<div class="container">
<%= link_to "See your bookings", bookings_path %>
</div>

  <! make a grid for the cards>
<div class="container py-5">
</div>

<div class="d-flex align-items-center justify-content-between mb-3">
  <div class="row">
    <% @creatures.each do |creature| %>
      <div class="card mb-4 shadow-sm">
        <div class="col-12 col-sm-6 col-md-4 mb-3">
        <% if creature.photo.key %>
          <%= cl_image_tag creature.photo.key, height: 300, width: 400, crop: :fill, class: "rounded-circle" %>
        <% end %>
            <ul>
              <li>Name: <%= creature.name %></li>
              <li>Category: <%= creature.category %></li>
              <li>Breed: <%= creature.breed %></li>
              <li>Owner: <%= @users.find(creature.user_id).name %></li>
            </ul>
            <%= link_to "Show Creature", creature_path(creature), class: "nav-link" %>
        </div>
      </div>
    <%end%>
  </div>
</div>
