
  <div class="container mt-3">
    <div class="row">
      <div class="col-12">
        <h1>All our Beasts</h1>
        <p>Below you will see all beasts on offer</p>
      </div>
    </div>


  <! make a grid for the cards>
<div class="container py-5">

<div class="d-flex align-items-center justify-content-between mb-3">


   <div class="row">
    <% @creatures.each do |creature| %>
    <div class="card mb-4 shadow-sm">
        <div class="co-12 col-sm-6 col-md-4 mb-3">
        <ul>
            <li>Name: <%= creature.name %></li>
            <li>Category: <%= creature.category %></li>
            <li>Breed: <%= creature.breed %></li>
            <li>Super Power: <%= creature.super_power %></li>
            <li>Years of Magic: <%= creature.needed_years_magic %></li>
        </ul>
            <%= link_to "Show Creature", creature_path(creature), class: "nav-link" %>
        </div>
    </div>
    <%end%>

  </div>

</div>
