  <div class="container mt-3">
    <div class="row-justify-content-left">
      <div class="col-12 header-index">
        <h1><strong>All our beasts</strong></h1>
        <h2>Welcome <%= current_user.name %>!</h2>
        <p class="index-fix">Search directly for a certain beast or browse below!</p>
      </div>
    <div class="col-sm-5">
      <%= form_tag creatures_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a creature"
        %>
        <%= submit_tag "Search", class: "button-search" %>
      <% end %>
    </div>
  </div>

<div class="container-index">
<%= link_to "See your bookings", bookings_path %>
</div>

    <div class="cards">
      <% @creatures.each do |creature| %>
      <div class="card mb-4 shadow-sm">
                <% if creature.photo.key %>
                <%= cl_image_tag creature.photo.key, height: 200, width: 100, class: "rounded-circle-image" %>
                <% end %>
            <div class="card-beast-footer">
              <ul class="list-beast">
                  <li class="font-size-name"> <strong><%= creature.name %></strong></li>
                  <li><strong>Category: </strong><%= creature.category %></li>
                  <li><strong>Breed: </strong><%= creature.breed %></li>
                  <li><strong>Owner: </strong><%= @users.find(creature.user_id).name %></li>
              </ul>
              <br>
                  <br>
                  <%= link_to "Show Creature", creature_path(creature), class: "nav-link-cards" %>
          </div>
      </div>
    <%end%>
  </div>
