  <div class="container mt-3">
    <div class="row justify-content-left">
      <div class="col-12">
        <h1>All our beasts</h1>
        <h2>Welcome <%= current_user.name %>!</h2>
        <p>Search directly for a certain beast or browse below!</p>
      </div>
    <div class="col-sm-5">
      <%= form_tag creatures_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a creature"
        %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

<div class="container">
<%= link_to "See your bookings", bookings_path %>
</div>

  <div class="container">
    <div class="cards">
      <% @creatures.each do |creature| %>
      <div class="card mb-4 shadow-sm">
          <div class="card-beast">
          <div class="background-picture">
              <% if creature.photo.key %>
              <%= cl_image_tag creature.photo.key, height: 100, width: 150, crop: :fill, class: "rounded-circle-image" %>
              <% end %>
             </div>
          <ul>
              <li>Name: <%= creature.name %></li>
              <li>Category: <%= creature.category %></li>
              <li>Breed: <%= creature.breed %></li>
              <li>Owner: <%= @users.find(creature.user_id).name %></li>
          </ul>
              <%= link_to "Show Creature", creature_path(creature), class: "nav-link" %>
          </div>
      </div>
      <%end%>
    </div>
