
  <div class="container mt-3">
    <div class="row">
      <div class="col-12">
        <h1>All our Beasts</h1>
        <h2>Welcome <%= current_user.name %></h2>
        <p>Below you will see all beasts on offer</p>
      </div>
    </div>



  <div class="container">
    <div class="cards">
      <% @creatures.each do |creature| %>
      <div class="card mb-4 shadow-sm">
          <div class="card-beast">
          <div class="background-picture">
              <% if creature.photo.key %>
              <%= cl_image_tag creature.photo.key, height: 100, width: 150, crop: :fill, class: "rounded-circle-image" %>
              <% end %>
             </div>
          <ul>
              <li>Name: <%= creature.name %></li>
              <li>Category: <%= creature.category %></li>
              <li>Breed: <%= creature.breed %></li>
              <li>Owner: <%= @users.find(creature.user_id).name %></li>
          </ul>
              <%= link_to "Show Creature", creature_path(creature), class: "nav-link" %>
          </div>
      </div>
      <%end%>
    </div>
