<div class="container-show">
<br>
  <% if @creature.photo.key %>
  <%= cl_image_tag @creature.photo.key, height: 250, width: 250, crop: :fill, class: "image-show" %>
  <% end %>
  <br>
  <br>
  <h1><%= @creature.name %></h1>
  <h1><strong>Category:</strong> <%= @creature.category %></h1>
  <h1><strong>Breed:</strong> <%= @creature.breed %></h1>
  <h1><strong>Spell:</strong> <%= @creature.super_power %></h1>
  <h1><strong>Years of magic:</strong> <%= @creature.needed_years_magic %></h1>
  <br>
  <p>The beast which you have selected is named <%= @creature.name %>. It is a <%= @creature.breed %> and belongs to the <%= @creature.category %> category. The shown creature is able to perform <%= @creature.super_power %> as its super power and its owner needs a minimum of <%= @creature.needed_years_magic %> years witchcraft experience to be able to rent it.</p>

  <% if current_user.years_of_magic >= @creature.needed_years_magic && current_user.id != @creature.user_id %>
  <%= link_to "Book this creature", new_creature_booking_path(@creature) %>
  <br>
  <% elsif current_user.years_of_magic < @creature.needed_years_magic && current_user.id != @creature.user_id %>
  <p>You currently do not have the years of magic required to book this creature. You only have <%= current_user.years_of_magic %> years of experience.</p>
  <% else %>
  <p>You own this creature. You cannot book <%= @creature.name %>.</p>
  <% end %>

  <% if current_user.id != @creature.user_id && current_user.years_of_magic >= @creature.needed_years_magic && @user_bookings.include?(current_user.id) %>
  <%= link_to "Leave a review", new_creature_review_path(@creature) %>
  <% elsif current_user.id != @creature.user_id && current_user.years_of_magic >= @creature.needed_years_magic && !@user_bookings.include?(current_user.id) %>
  <p>Book first before reviewing.</p>
  <br>
  <% elsif current_user.id != @creature.user_id && current_user.years_of_magic < @creature.needed_years_magic %>
  <p>How can you even review a creature you cannot afford?</p>
  <% else %>
  <p>You cannot comment on your own creature.</p>
  <% end %>

  <% if @creature.bookings.length > 0 %>
  <h4>Bookings</h4>
  <ul class="list-group">
    <% @creature.bookings.each do |booking| %>
      <li class="list-group-item">
      <%= @creature.name.capitalize %> is booked from <%= booking.start_day %> to <%= booking.end_day %>.
      <% if booking.user_id == current_user.id %>
      <%= link_to "Cancel your booking",
                    booking_path(booking),
                    method: :delete,
                    data: { confirm: "Are you sure?" } %>
      </li>
      <% end %>
    <% end %>
  </ul>
  <% end %>

<% if @creature.reviews.length > 0 %>
  <h4>Reviews</h4>
  <h5>Average rating: <%= @average %> / 5</h5>
  <ul class="list-group">
    <% @creature.reviews.each do |review| %>
      <li class="list-group-item">
      Rating: <%= review.rating %> / 5
      <br>
      Comment: <%= review.comment %>
      <% if review.user_id == current_user.id %>
      <%= link_to "Delete Review",
                    review_path(review),
                    method: :delete,
                    data: { confirm: "Are you sure?" } %>
      </li>
      <% end %>
    <% end %>
  </ul>
<% end %>

  <%= link_to "Back to all", creatures_path %>
  <br>
  <%= link_to "Back to your bookings", bookings_path %>
  <br>
  <br>
  <% if @creature.user_id == current_user.id %>
  <%= link_to "Delete Creature",
                    creature_path(@creature),
                    method: :delete,
                    data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
  <% end %>
  </div>
